{% extends "base.html" %}
{% block title %}- Dashboard{% endblock %}
{% block content %}
    <h2 class="mb-4">Available Books</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Book</th>
                <th scope="col">Author</th>
                <th scope="col">Owner</th>
                <th scope="col">Added Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.owner.username }}</td>
                <td>{{ book.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    <a href="{{ url_for('book_details', book_id=book.id) }}" class="btn btn-info btn-sm">Details</a>
                    {% if book.owner_id != current_user.id %}
                        <a href="{{ url_for('show_interest', book_id=book.id) }}" class="btn btn-success btn-sm">Show Interest</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}